@import url(firefox-csshacks/chrome/navbar_tabs_oneliner.css);
@import url(firefox-csshacks/chrome/urlbar_popup_full_width.css);

/* on my laptop with linux, if only has more tool >> button and application menu hambugger button,
need 46vw for search bookmarks urls and title shown in one line */
#navigator-toolbox{
	--uc-navigationbar-width: 46vw !important;
}

/* hide history back and forward-button */
#back-button, #forward-button { display: none !important; }

/* hide minimize, restore, and close button when in full screen mode */
#minimize-button, #restore-button, #close-button { display: none !important; }
