$include /etc/inputrc

# from archwiki realine
# Color files by types
# Note that this may cause completion text blink in some terminals (e.g. xterm).
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# Color the common prefix
set colored-completion-prefix On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On

set editing-mode vi

# https://github.com/LukeSmithxyz/voidrice/blob/2440ad83e9e9cf2f927efbaef618513e0df3cbda/.config/shell/inputrc
$if mode=vi

	set show-mode-in-prompt on

	# https://wiki.archlinux.org/title/readline#Different_cursor_shapes_for_each_mode
	$if term=linux
		# https://linuxgazette.net/137/anonymous.html
		# https://unix.stackexchange.com/questions/115009/how-to-change-the-cursor-theme-in-cli
		# https://www.kernel.org/doc/html/latest/admin-guide/vga-softcursor.html
		# it seems linux tty has no vertical line, no nonblink nonblock cursor style?
		# only nonblink style is software cursor, which is only nonblink block cursor with different colors
		# maybe tput can be helpful? or change TERM?
		# default, blink underscore, hardware cursor
		set vi-ins-mode-string \1\e[?0c\2
		# blink block, hardware cursor
		set vi-cmd-mode-string \1\e[?6c\2
	$else
		# nonblink vertical line
		set vi-ins-mode-string \1\e[6 q\2
		# nonblink block
		set vi-cmd-mode-string \1\e[2 q\2
	$endif

	#set keymap vi-command
	# depreciated
	# shell-expand-line expand all subshell `$()`? not perfect but ok
	# if there's " or ', then after \\z the " and ' will be gone because shell-expand-line
	# a lot of bugs compare to fzf's key-bindings.bash approach with `bind -x`
	# zsh approach seems not easy too
	# so I choose to just use a posix sh script
	#"\\e": shell-expand-line
	# https://unix.stackexchange.com/questions/439280/is-there-a-way-to-define-a-bash-readline-command
	#"\\z": "a $(zoxide query -i)\e\\e"

	set keymap vi-insert
	"\C-l": clear-screen

$endif
